.App {
  background-color:lightgrey;
  padding:30px;
}

.Header {
  margin-bottom:30px;
  padding:15px;
}
.Promo {
  padding:15px;
  margin-bottom:15px;
  text-align:center;
}
.Promo img {
  width:100%;
  display:inline-block;
}
.Cart {
  background-color:white;
  padding:15px;
  border-radius:5px;
}
.CategoryList {
  padding:15px;
  margin-bottom:15px;
}

.CategoryList .list-header {
  background: #f5f5f5;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #efefef;
  border-left: 5px solid #039baf;
}
.CategoryList .list-header .list-title {
  font-size: 22px;
  color: #039baf;
}
.CategoryList .list-header .list-description {
  color: #333;
}

.HeaderLink .glyphicon {
  font-size:14px;
  margin-bottom:5px;
  color:#888888;
}
.HeaderLink.active > div > div > span{
  color: black !important;
}

.weather-day {
  padding: 15px;
  background: #00bbd4;
  color: #fff;
  font-size: 20px;
}

.chart-container {
  margin-bottom:15px;
}