.App {
  background-color:lightgrey;
  padding:30px;
}

.Header {
  height:50px;
  background-color:white;
  border-radius:5px;
  margin-bottom:30px;
}
.Cart {
  background-color:white;
  padding:15px;
  border-radius:5px;
}